[Unit]
Description=fhimpg Archive Docker Container
Requires=docker.service
After=network.target docker.service

[Service]
Restart=always
RestartSec=10
User=USER
Group=GROUP
WorkingDirectory=/home/USER/docker/fhimpg-archive
ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose down

[Install]
WantedBy=multi-user.target
